.posts-container{
    height: 500px;
    width: 640px;
    margin: 10px auto;

    .post{
        border: 1px solid lightgray;
        margin: 5px 0;

        .likes{
            font-size: 1.5rem;
            font-weight: 600;
            margin-left: 1rem;
        }

        .choice-container{
            .post-icon{
                margin: 1rem;
                font-size: 2rem;
            }
        }
    }

    .poster{
        display: flex;

        .poster-image{
            img{
                height: 50px;
                width: 50px;
                border-radius: 25px;
            } 
        }
        
        .poster-name{
            font-size: 1.5rem;
            font-weight: 600
        }
    }
}